$maxMediaWidth: 1024px;
$tabletMediaWidth: 768px;

.input-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  min-width: 280px;
  margin-bottom: 15px;
  color: #f8f8f8;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;

  @media (max-width: $maxMediaWidth) {
    font-size: 1.25rem;
  }

  &__container--inner {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 250px;
    min-width: 190px;
    margin-left: 15px;
  }

  &__error {
    width: 100%;
    margin-top: 3px;
    color: lightcoral;
    font-weight: lighter;
    font-size: 1.2rem;
    font-family: "Teko", sans-serif;

    @media (max-width: $tabletMediaWidth) {
      font-size: 1.05rem;
    }
  }

  &__input {
    min-width: 185px;
    padding: 6px 15px 6px 15px;
    color: black;
    font-size: 1.25rem;
    font-family: "Teko", sans-serif;
    background: #f8f8f8;
    border: 2px solid dimgray;
    border-radius: 10px;
    outline: none;
    transition: all 0.4s;

    @media (max-width: $maxMediaWidth) {
      width: 180px;
    }

    &::-webkit-input-placeholder {
      color: dimgray;
      font-size: 1.2rem;

      @media (max-width: $maxMediaWidth) {
        font-size: 1.1rem;
      }
    }

    &:focus {
      border-color: coral;
      box-shadow: 0 0 10px 3px coral;
    }
  }
}
