@import "/src/styles/App.scss";

.input-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  min-width: 264px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: $black-color;
  line-height: $normal-line-height;

  span {
    margin-bottom: 2px;
    font-size: $mid-large-font-size;
    color: $hover-color;

    @include breakpoint($mobile-max) {
      font-size: 22px;
    }
  }

  &__container--inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__error {
    width: 100%;
    margin-top: 4px;
    color: $warn-color;
    font-weight: lighter;
    font-size: 18px;
  }

  &__input {
    width: 100%;
    padding: 8px;
    color: $black-color;
    font-weight: $thin-font-weight;
    font-size: $mid-large-font-size;
    font-family: $primary-font;
    border: $default-border $gray-color;
    border-radius: $default-border-radius;
    background-color: $white-color;
    outline: none;
    transition: $default-transition;

    @include breakpoint($tablet-max) {
      padding: 10px;
      font-size: 22px;
    }

    @include breakpoint($mobile-max) {
      padding: 8px;
      font-size: 20px;
    }

    &::-webkit-input-placeholder {
      color: $gray-color;
      font-size: 20px;

      @include breakpoint($tablet-max) {
        font-size: 22px;
      }

      @include breakpoint($tablet-max) {
        font-size: 18px;
      }
    }

    &:focus {
      border-color: $secondary-color;
    }
  }
}
