$default-margin: 40px;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  min-width: 300px;

  &__categories-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: $default-margin;
  }
}
