$maxMediaWidth: 1024px;
$correcteTabletMediaWidth: 767px;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  min-width: 300px;
  min-height: 100vh;

  &__products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: $correcteTabletMediaWidth) {
      margin-top: 20px;
    }

    .home__categories-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .home__products-link {
      margin-top: 30px;
      padding: 3px 15px;
      color: #f8f8f8;
      font-size: 26px;
      font-family: "Teko", sans-serif;
      text-decoration: none;
      background: coral;
      border: 2px solid coral;
      border-radius: 5px;
      transition: all 0.4s;

      &:hover {
        color: coral;
        background: black;
        border-color: black;
        box-shadow: 0 0 10px 5px coral;
      }
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: dimgray;
    border: 1px solid dimgray;
    border-radius: 5px;
  }

  &__games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: $maxMediaWidth) {
      flex-direction: column;
      align-items: center;
    }
  }
}
