$maxMediaWidth: 1024px;
$correcteTabletMediaWidth: 767px;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  min-width: 300px;
  min-height: 100vh;

  &__categories-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 35px;

    @media (max-width: $correcteTabletMediaWidth) {
      margin-top: 20px;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin-bottom: 5px;
    background: dimgray;
    border: 1px solid dimgray;
    border-radius: 5px;
  }

  &__games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: $maxMediaWidth) {
      flex-direction: column;
      align-items: center;
    }
  }
}
