@import "./variables";
@import "./mixins";

.content-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #000000;
  transition: $default-transition;
  opacity: 0.85;
}

.page-title {
  margin: $default-margin 0;
  font-size: $large-font-size;
  font-weight: $bold-font-weight;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($tablet-max) {
    margin: 16px 0;
    font-size: 26px;
    line-height: 30px;
  }
}

.section-title {
  color: $black-color;
  font-size: 32px;
  font-weight: $normal-font-weight;
  text-transform: uppercase;

  @include breakpoint($mobile-max) {
    font-size: $mid-large-font-size;
  }
}

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: $default-margin;
  background-color: $black-color;
  border-radius: $default-border-radius;
}

.btn {
  width: 60%;
  min-width: 264px;
  padding: 8px;
  border-radius: $default-border-radius;
  font-size: $mid-large-font-size;
  font-family: $primary-font;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: $default-transition;

  @include breakpoint($tablet-max) {
    align-self: center;
    padding: 10px;
  }

  @include breakpoint($mobile-max) {
    font-size: 20px;
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: $gray-color;
    border-color: $gray-color;
    color: $white-color;
    pointer-events: none;
  }
}

.delete-btn {
  margin-top: 16px;
  border: $default-border $warn-color;
  background-color: $white-color;
  color: $warn-color;

  &:not(:disabled):hover {
    background-color: $warn-color;
    border: $default-border $warn-color;
    color: $white-color;
  }
}

.submit-btn {
  margin-top: 16px;
  border: $default-border $secondary-color;
  background-color: $secondary-color;
  color: $white-color;

  &:not(:disabled):hover {
    background-color: $hover-color;
    border: $default-border $hover-color;
  }
}

.success-btn {
  margin-top: 16px;
  border: $default-border $success-color;
  background-color: $success-color;
  color: $white-color;

  &:not(:disabled):hover {
    background-color: #139b79;
    border: $default-border #139b79;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-x {
  &:not(.flex-column) {
    display: flex;
    justify-content: center;
  }

  &.flex-column {
    align-items: center;
  }
}

.center-y {
  &:not(.flex-column) {
    display: flex;
    align-items: center;
  }

  &.flex-column {
    justify-content: center;
  }
}

.left-align {
  &:not(.flex-column) {
    display: flex;
    justify-content: flex-start;
  }

  &.flex-column {
    align-items: flex-start;
  }
}

.large {
  width: $large-width;
}

.mid-large {
  width: $mid-large-width;
}

.normal {
  width: $normal-width;
}

.mid-small {
  width: $mid-small-width;
}

.small {
  width: $small-width;
}
