@import "./variables";

@mixin link-styling {
  color: #f8f8f8;
  font-size: 24px;
  font-family: $primary-font;
  text-decoration: none;
  background: none;
  border: $primary-border transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
