$primary-color: coral;
$primary-font: "Teko", sans-serif;
$primary-border: 2px solid;

$default-margin: 40px;

$largeMediaWidth: 1201px;
$maxMediaWidth: 1024px;
$tabletMediaWidth: 768px;
$correctedTabletMediaWidth: 767px;
$minMediaWidth: 320px;
