@import "/src/styles/App.scss";

.categories {
  display: flex;
  width: 100%;
  min-width: 300px;
  min-height: 100vh;

  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    float: left;
    min-width: 204px;
    min-height: 100vh;
    padding: 16px 24px;
    overflow-y: auto;
    background: $white-color;
    border-right: $default-border $success-color;

    @media (max-width: $maxMediaWidth) {
      width: 30%;
    }

    @media (max-width: $correctedTabletMediaWidth) {
      display: none;
    }

    &__title {
      align-self: center;
      color: black;
      font-size: 30px;
      font-family: $primary-font;
      text-align: center;
      text-transform: uppercase;
    }

    &__mini-logo {
      align-self: center;
      width: 64px;
      height: 64px;
      margin-top: 10px;
    }

    &__options-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 15px 0;
      font-family: $primary-font;

      &:first-of-type {
        margin-top: 35px;
        border-top: $default-border $black-color;
      }

      &:not(:last-child) {
        border-bottom: $default-border $black-color;
      }

      .sidebar__option-name {
        margin-bottom: 10px;
        color: $black-color;
        font-weight: bold;
        font-size: 27px;
        font-family: $primary-font;
      }

      .sidebar__option-label {
        color: $black-color;
        font-size: 24px;
        font-family: $primary-font;
      }

      .sidebar__option-criteria {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: $black-color;
        font-size: 24px;
        font-family: $primary-font;

        select {
          margin: 3px 0 0 10px;
          padding: 0 5px;
          color: $primary-color;
          font-size: 24px;
          font-family: $primary-font;
          background: $black-color;
          border-radius: 5px;
          outline: none;
          cursor: pointer;
        }
      }

      input {
        margin-right: 10px;
      }

      input:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-width: 296px;
    padding: 0 $default-margin;

    @media (max-width: $maxMediaWidth) {
      width: 70%;
    }

    @media (max-width: $correctedTabletMediaWidth) {
      width: 100%;
      margin-top: 20px;
      padding: 0;
    }

    &__games-container {
      flex-wrap: wrap;
      width: 100%;
      margin: 32px 0;
      gap: 16px;

      .categories__no-results-img {
        @media (max-width: $correctedTabletMediaWidth) {
          width: 96px;
          height: 96px;
          margin-bottom: 16px;
        }
      }

      @media (max-width: $maxMediaWidth) {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
      }
    }
  }

  @media (max-width: $maxMediaWidth) {
    .page-title {
      margin-bottom: 15px;
    }
  }
}
