$maxMediaWidth: 1024px;
$correctedTabletMediaWidth: 767px;
$minMediaWidth: 320px;

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  min-width: 300px;

  &__title-block {
    display: flex;
    justify-content: space-between;
    width: 65%;
    min-width: 275px;
  }

  &__logo {
    width: 3.5vw;
    height: 3.5vw;
  }

  &__games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: $maxMediaWidth) {
  .categories__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-title {
      margin-bottom: 5px;

      &:nth-child(2n) {
        display: none;
      }
    }

    .categories__logo {
      margin-bottom: 20px;

      &:first-child {
        display: none;
      }

      @media (max-width: $correctedTabletMediaWidth) {
        width: 52px;
        height: 52px;
      }

      @media (max-width: $minMediaWidth) {
        width: 42px;
        height: 42px;
      }
    }
  }

  .categories__games-container {
    flex-direction: column;
    align-items: center;
  }
}
