.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 90px;
  padding: 20px 0;
  background: coral;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;

  &__logo {
    width: 5vw;
    min-width: 32px;
    height: 5vw;
    min-height: 32px;
    margin-bottom: 20px;
  }

  &__name {
    color: black;
    font-size: calc(12px + 1vw);
    font-family: "Teko", sans-serif;
    cursor: pointer;
    transition: all 0.4s;
  }

  &:hover {
    background: #f8f8f8;
    border-color: coral;
  }
}
