@import "/src/styles/App.scss";

.category-card {
  flex-grow: 1;
  padding: 16px 0 8px;
  background-color: rgba($color: $white-color, $alpha: 0.3);
  background-color: transparent;
  border: $default-border $white-color;
  border-radius: $default-border-radius;
  cursor: pointer;
  transition: $default-transition;

  &:hover {
    background-color: $white-color;
  }

  &__logo {
    width: 3.5vw;
    min-width: 35px;
    height: 3.5vw;
    min-height: 35px;
    margin-bottom: 10px;
    transition: $default-transition;

    &--light {
      display: none;
      width: 3.5vw;
      min-width: 36px;
      height: 3.5vw;
      min-height: 36px;
      margin-bottom: 8px;
    }
  }

  &__name {
    color: $white-color;
    font-weight: normal;
    font-size: $mid-large-font-size;
    text-transform: uppercase;
    cursor: pointer;
    transition: $default-transition;

    @media (max-width: $largeMediaWidth) {
      font-size: 23px;
    }

    @media (max-width: $correctedTabletMediaWidth) {
      font-size: 21px;
    }

    @media (max-width: $minMediaWidth) {
      font-size: 18px;
    }
  }

  &:first-child {
    &:hover {
      border: $default-border #003791;

      .category-card__logo {
        display: none;

        &--light {
          display: block;
        }
      }

      .category-card__name {
        color: #003791;
      }
    }
  }

  &:nth-child(2) {
    &:hover {
      border: $default-border #107c10;

      .category-card__logo {
        display: none;

        &--light {
          display: block;
        }
      }

      .category-card__name {
        color: #107c10;
      }
    }
  }

  &:last-child {
    &:hover {
      border: $default-border #00adef;

      .category-card__logo {
        display: none;

        &--light {
          display: block;
        }
      }

      .category-card__name {
        color: #00adef;
      }
    }
  }
}
