.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 90px;
  padding: 15px 0;
  background: #f8f8f8;
  border-bottom: 2px solid black;
  cursor: pointer;
  transition: all 0.4s ease;

  &__logo {
    width: 3.5vw;
    min-width: 32px;
    height: 3.5vw;
    min-height: 32px;
    margin-bottom: 12px;
  }

  &__name {
    color: black;
    font-weight: normal;
    font-size: calc(13px + 0.7vw);
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s;
  }

  &:first-child:hover {
    border-bottom-color: #003791;
    -moz-box-shadow: inset 0 -10px 10px -10px #003791;
    -webkit-box-shadow: inset 0 -10px 10px -10px #003791;
    box-shadow: inset 0 -10px 10px -10px #003791;

    .category-card__name {
      color: #003791;
    }
  }

  &:nth-child(2) {
    border-right: 2px solid black;
    border-left: 2px solid black;

    &:hover {
      border-bottom-color: #107c10;
      -moz-box-shadow: inset 0 -10px 10px -10px #107c10;
      -webkit-box-shadow: inset 0 -10px 10px -10px #107c10;
      box-shadow: inset 0 -10px 10px -10px #107c10;

      .category-card__name {
        color: #107c10;
      }
    }
  }

  &:last-child:hover {
    border-bottom-color: #00adef;
    -moz-box-shadow: inset 0 -10px 10px -10px #00adef;
    -webkit-box-shadow: inset 0 -10px 10px -10px #00adef;
    box-shadow: inset 0 -10px 10px -10px #00adef;

    .category-card__name {
      color: #00adef;
    }
  }
}
