@import "/src/styles/App.scss";

.profile {
  max-width: 100%;
  min-width: 296px;
  min-height: 100vh;
  padding: 48px;

  @include breakpoint($tablet-max) {
    padding: 40px 0;
  }

  @include breakpoint($mobile-max) {
    padding: 32px 0;
  }

  &__personal-info-container {
    width: 100%;
    margin-bottom: 48px;

    @include breakpoint($tablet-max) {
      flex-direction: column;
      margin-bottom: $default-margin;
    }

    .profile__user-img {
      margin-right: $default-margin;
      cursor: pointer;

      @include breakpoint($tablet-max) {
        width: 96px;
        height: 96px;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

    &--inner {
      .profile__personal-info-container--individual {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include breakpoint($tablet-max) {
          justify-content: center;
        }

        .profile__user-name {
          color: $black-color;
          font-size: $huge-font-size;

          @include breakpoint($tablet-max) {
            font-size: $large-font-size;
          }
        }

        .profile__login-input {
          width: 200px;
          min-width: 0;
          padding: 8px;
          color: $black-color;
          font-weight: $thin-font-weight;
          font-size: $mid-large-font-size;
          font-family: $primary-font;
          border: $default-border $gray-color;
          border-radius: $default-border-radius;
          background-color: $white-color;
          outline: none;
          transition: $default-transition;

          @include breakpoint($tablet-max) {
            padding: 10px;
            font-size: 22px;
          }

          @include breakpoint($mobile-max) {
            padding: 8px;
            font-size: 20px;
          }

          &::-webkit-input-placeholder {
            color: $gray-color;
            font-size: 20px;

            @include breakpoint($tablet-max) {
              font-size: 22px;
            }

            @include breakpoint($tablet-max) {
              font-size: 18px;
            }
          }

          &:focus {
            border-color: $secondary-color;
          }
        }

        .profile-login-btn-container {
          display: flex;
          justify-content: space-between;
          width: 80px;
          margin-left: 16px;

          .profile__edit-login-btn {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }

        .profile__edit-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 12px;
          padding: 4px;
          border: none;
          border-radius: $default-border-radius;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          transition: $default-transition;

          &:hover {
            background-color: rgba($white-color, 0.65);
          }

          &--img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .profile__user-password {
        color: $black-color;
        font-size: $mid-large-font-size;

        @include breakpoint($tablet-max) {
          font-size: 22px;
        }
      }
    }
  }

  &__form-wrapper {
    width: 45%;
    min-width: 296px;
    align-self: center;
    padding: $default-margin;
    background: rgba($white-color, 0.65);
    border-radius: $default-border-radius;

    @include breakpoint($tablet-max) {
      padding: 16px;
    }
  }

  &__form {
    width: 100%;

    &-title {
      color: $black-color;
      font-size: $large-font-size;
      font-weight: $normal-font-weight;
      text-transform: uppercase;

      @include breakpoint($mobile-max) {
        font-size: 22px;
      }
    }

    &-divider {
      width: 100%;
      height: 1px;
      margin-bottom: $default-margin;
      background-color: $black-color;
      border-radius: $default-border-radius;
    }

    &-inputs {
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 8px;
      gap: 8px;
    }
  }
}
