@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap");
@import "./config/common";
@import "./config/normalize";
@import "./config/variables";
@import "./config/mixins";
@import "./config/toastify-overrides";

#root {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #eeeeff,
    #e5e5ff,
    #ddddff,
    #d4d4ff,
    #cbccff
  );
}

body {
  font-family: $primary-font;
  font-weight: $normal-font-weight;
  color: $black-color;
}

::-webkit-scrollbar {
  &:horizontal {
    width: 8px;
  }

  &:vertical {
    height: 8px;
  }

  @include breakpoint($tablet-max) {
    &:horizontal {
      width: 8px;
    }

    &:vertical {
      height: 8px;
    }
  }

  &-thumb {
    background-clip: padding-box;
    border: $default-border $white-color;
    border-radius: $default-border-radius;
    background-color: rgba($primary-color, 0.25);

    &:hover {
      background-color: $light-color;
    }
  }
}
