@import "/src/styles/App.scss";

.search-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 280px;
  max-width: 544px;

  @include breakpoint($tablet-max) {
    width: 100%;
    max-width: 100%;
    margin-bottom: $default-margin;
  }

  .searchbar {
    position: relative;
    width: 100%;

    @include breakpoint($tablet-max) {
      margin-top: 4px;
    }

    input {
      width: 100%;
      padding: 4px 24px 4px 12px;
      border: $default-border $gray-color;
      border-radius: $default-border-radius;
      background-color: $white-color;
      color: $black-color;
      font-size: 22px;
      font-family: $primary-font;
      font-weight: $thin-font-weight;
      outline: none;
      transition: $default-transition;

      &::-webkit-input-placeholder {
        color: $black-color;
        font-size: 20px;
      }

      &:focus {
        box-shadow: 0px 0px 8px $primary-color;
        border-color: $black-color;
      }
    }

    &-submit {
      position: absolute;
      top: 0;
      right: 0;
      width: 10%;
      min-width: 50px;
      height: 100%;
      overflow: hidden;
      background: url(../../assets/img/loupe.jpg) no-repeat center center;
      border: none;
      outline: none;
      cursor: pointer;

      &--active {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        min-width: 50px;
        height: 100%;
        overflow: hidden;
        border: none;
        outline: none;
        cursor: pointer;

        .loader {
          width: 24px;
          height: 24px;
          border: 3px solid $primary-color;
          border-top: 3px solid #f8f8f8;
          border-radius: 50%;
          transition: all 0.5s;
          animation: spin 3s linear infinite;
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .found-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 296px;
    max-height: 0;
    margin-top: 5px;
    font-family: $primary-font;
    border: none;
    border-radius: $default-border-radius;
    transition: $default-transition;

    &--visible {
      max-height: 129px;
      overflow-y: auto;
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px 5px 15px;
      font-size: 1.25rem;
      font-family: $primary-font;
      background-color: $white-color;
      border: $default-border transparent;
      border-radius: $default-border-radius;
      outline: none;
      cursor: pointer;
      transition: $default-transition;

      &:hover {
        color: $primary-color;
        border-color: $primary-color;
      }
    }

    &__mini-img {
      width: 18px;
      height: 18px;
      margin-bottom: 4px;
      margin-left: 10px;
    }
  }
}
