@mixin link-styling {
  height: 100%;
  color: white;
  font-size: 1.45rem;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  background-color: black;

  &__title {
    padding: 10px 0;
    color: coral;
    font-size: 2.15rem;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    min-width: 250px;
    height: 100%;
  }

  &__link {
    @include link-styling();

    &:hover {
      color: coral;
      border-bottom: 2px solid coral;
    }

    &--active {
      color: coral;
      text-transform: uppercase;
    }
  }

  .dropdown-link {
    @include link-styling();
    color: coral;
  }

  .Dropdown-control {
    padding: 0px 20px 0 0;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
  }

  .Dropdown-root:hover .Dropdown-placeholder {
    color: coral;
  }

  .Dropdown-arrow {
    position: absolute;
    top: calc(50% - 0.25rem);
    right: 3px;
    display: block;
    width: 0;
    height: 0;
    border-color: white transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
  }

  .is-open .Dropdown-arrow {
    border-color: transparent transparent white;
    border-width: 0 5px 5px;
  }

  .Dropdown-placeholder {
    color: white;
  }

  .Dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 110px;
    border: 2px solid coral;
    border-radius: 5px;
  }

  .Dropdown-option {
    width: 90%;
    padding-left: 2px;
  }

  .Dropdown-option:not(:last-child) {
    border-bottom: 1px solid coral;
  }
}
