@import "/src/styles/App.scss";

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 40vw;
  min-width: 576px;
  padding: 36px;
  overflow: auto;
  background-color: $white-color;
  border-radius: $default-border-radius;
  transform: translate(-50%, -50%);
  transition: $default-transition;

  @include breakpoint($tablet-max) {
    min-width: 400px;
  }

  @include breakpoint($mobile-max) {
    min-width: 296px;
    padding: 32px 0;
  }

  &__close-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    align-items: flex-start;
    background: none;
    border: none;
    cursor: pointer;
    transition: $default-transition;

    @include breakpoint($mobile-max) {
      right: 12px;
      top: 12px;
    }

    &--img {
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    margin-bottom: $default-margin;
    text-align: center;
    font-size: $huge-font-size;
    line-height: 42px;
    font-weight: $bold-font-weight;
    color: $black-color;

    @include breakpoint($mobile-max) {
      margin-bottom: 16px;
      font-size: $large-font-size;
    }
  }

  &__body {
    margin-bottom: 36px;
    padding: 0 16px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: $thin-font-weight;
    color: $gray-color;

    @include breakpoint($mobile-max) {
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .dialog__btn {
      flex-grow: 1;
    }
  }
}
