@import "/src/styles/App.scss";

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 40vw;
  min-width: 576px;
  padding: 36px 48px;
  overflow: auto;
  background-color: $white-color;
  border-radius: $default-border-radius;
  transform: translate(-50%, -50%);
  transition: $default-transition;

  @include breakpoint($tablet-max) {
    min-width: 400px;
    padding: 32px 36px;
  }

  @include breakpoint($mobile-max) {
    min-width: 296px;
    padding: 32px $default-margin;
  }

  &__close-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    align-items: flex-start;
    background: none;
    border: none;
    cursor: pointer;
    transition: $default-transition;

    @include breakpoint($mobile-max) {
      right: 12px;
      top: 12px;
    }

    &--img {
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    margin-bottom: $default-margin;
    text-align: center;
    font-size: $huge-font-size;
    line-height: $large-line-height;
    font-weight: $bold-font-weight;
    color: $black-color;

    @include breakpoint($mobile-max) {
      margin-bottom: 16px;
      font-size: $large-font-size;
    }
  }

  &__body {
    margin-bottom: 40px;
    padding: 0 16px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: $thin-font-weight;
    color: $gray-color;

    @include breakpoint($mobile-max) {
      margin-bottom: 32px;
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: $default-margin;

    @include breakpoint($mobile-max) {
      flex-direction: column;
      gap: 16px;
    }

    .dialog__btn {
      flex-grow: 1;
      padding: 8px;
      border: $default-border;
      border-radius: $default-border-radius;
      font-size: $mid-large-font-size;
      font-family: $primary-font;
      line-height: 30px;
      text-decoration: none;
      cursor: pointer;
      transition: $default-transition;

      &.cancel {
        border-color: $warn-color;
        background-color: $white-color;
        color: $warn-color;

        &:hover {
          background-color: $warn-color;
          color: $white-color;
        }
      }

      &.warn-cancel {
        border-color: $secondary-color;
        background-color: $white-color;
        color: $secondary-color;

        &:hover {
          background-color: $secondary-color;
          color: $white-color;
        }
      }

      &.confirm {
        border-color: $secondary-color;
        background-color: $secondary-color;
        color: $white-color;

        &:hover {
          border-color: $hover-color;
          background-color: $hover-color;
        }
      }

      &.warn-confirm {
        border-color: $warn-color;
        background-color: $warn-color;
        color: $white-color;

        &:hover {
          border-color: #cd4179;
          background-color: #cd4179;
        }
      }
    }
  }
}
