.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  background-color: black;
}

.footer__tagline {
  margin-bottom: 15px;
  color: white;
  font-size: 1.45rem;
  font-family: "Teko", sans-serif;
  text-decoration: none;
}

.footer__icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 25%;
  min-width: 350px;
}

.footer__link {
  text-decoration: none;
  cursor: pointer;
}

.footer__img {
  width: 35px;
  height: 35px;
}

.footer__img--medium {
  width: 50px;
  height: 35px;
}

.footer__img--large {
  width: 70px;
  height: 35px;
}
