$largeMediaWidth: 1201px;
$maxMediaWidth: 1024px;
$tabletMediaWidth: 768px;

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  min-width: 240px;
  max-width: 290px;
  margin: 0 10px 20px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;

  @media (min-width: $maxMediaWidth) {
    min-width: 260px;
  }

  @media (min-width: $tabletMediaWidth) {
    min-width: 250px;
  }

  &__cover-wrapper {
    position: relative;
    width: 100%;
    height: 19.5vw;
    min-height: 340px;
    overflow: hidden;
    background: black;
    border-bottom: 2px solid #f8f8f8;
    transition: all 0.4s ease-in-out;

    @media (max-width: $largeMediaWidth) {
      height: 350px;
      min-height: 0;
    }

    @media (max-width: $maxMediaWidth) {
      height: 335px;
      min-height: 0;
    }

    .game-card__cover {
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
    }

    .game-card__add-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 5px 20px;
      color: coral;
      font-size: 23px;
      font-family: "Teko", sans-serif;
      background: #f8f8f8;
      border: 2px solid coral;
      border-right: none;
      border-bottom: none;
      border-top-left-radius: 5px;
      outline: none;
      transform: translateY(50px);
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        color: #f8f8f8;
        background: coral;
        border-color: coral;
      }

      &:active {
        color: coral;
        background: black;
      }

      @media (max-width: $maxMediaWidth) {
        font-size: 20px;
      }
    }

    .game-card__edit-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px 20px;
      color: coral;
      font-size: 23px;
      font-family: "Teko", sans-serif;
      background: #f8f8f8;
      border: 2px solid coral;
      border-bottom: none;
      border-left: none;
      border-top-right-radius: 5px;
      outline: none;
      transform: translateY(50px);
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        color: #f8f8f8;
        background: coral;
        border-color: coral;
      }

      &:active {
        color: coral;
        background: black;
      }

      @media (max-width: $maxMediaWidth) {
        font-size: 20px;
      }
    }
  }

  &__details-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    min-height: 135px;
    padding: 15px;
    background: black;
    transition: all 0.4s;

    .game-card__info {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .game-card__title {
        max-width: 82%;
        color: coral;
        font-size: 23px;
        font-family: "Teko", sans-serif;

        @media (max-width: $tabletMediaWidth) {
          font-size: 21px;
        }
      }

      .game-card__company {
        color: #f8f8f8;
        font-size: 23px;
        font-family: "Teko", sans-serif;

        @media (max-width: $tabletMediaWidth) {
          font-size: 20px;
        }
      }

      .game-card__rating {
        width: 32px;
        height: 32px;
      }

      .game-card__price {
        color: white;
        font-weight: bold;
        font-size: 24px;
        font-family: "Teko", sans-serif;

        @media (max-width: $tabletMediaWidth) {
          font-size: 21px;
        }
      }
    }

    .game-card__info:last-child {
      align-items: flex-end;
    }

    @media (max-width: $tabletMediaWidth) {
      min-height: 130px;
    }
  }

  &:hover {
    box-shadow: 0 0 10px 3px coral;
    transform: translateY(-5px);
  }

  &:hover &__cover-wrapper {
    border-color: coral;

    .game-card__cover {
      opacity: 0.4;
    }

    .game-card__edit-btn {
      transform: translateY(0);
    }

    .game-card__add-btn {
      transform: translateY(0);
    }
  }

  &:hover &__details-container {
    background-color: #f8f8f8;

    .game-card__title {
      color: black;
    }

    .game-card__company {
      color: dimgray;
    }

    .game-card__price {
      color: coral;
    }
  }
}
