@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 15px 40px;
  background-color: black;
}

.header__title {
  font-size: 2.15rem;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  color: coral;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  min-width: 250px;
}

.header__link {
  position: relative;
  font-size: 1.45rem;
  font-family: 'Teko', sans-serif;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.header__link:not(:last-child)::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  right: -2.35rem;
  top: calc(50% - 2.5px);
  position: absolute;
  background: white;
}

.header__link:hover {
  text-decoration: underline;
  color: coral;
}

.header__link--active {
  text-transform: uppercase;
  color: coral;
}

.page-title {
  margin-top: 250px;
  text-align: center;
  font-size: 5rem;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  color: cyan;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 15px 0;
  background-color: black;
}

.footer__tagline {
  margin-bottom: 15px;
  font-size: 1.45rem;
  font-family: 'Teko', sans-serif;
  text-decoration: none;
  color: white;
}

.footer__icons-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
  min-width: 350px;
}

.footer__link {
  text-decoration: none;
  cursor: pointer;
}

.footer__img {
  width: 35px;
  height: 35px;
}

.footer__img--medium {
  width: 50px;
  height: 35px;
}

.footer__img--large {
  width: 70px;
  height: 35px;
}
