$tabletMediaWidth: 768px;
$correctedTabletMediaWidth: 767px;

.content-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-width: 295px;
  overflow: hidden;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  background: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 15px 7.5px coral;
  transform: translate(-50%, -50%);

  @media (max-width: $tabletMediaWidth) {
    box-shadow: 0 0 7.5px 3.5px coral;
  }

  &__head-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    margin-bottom: 30px;
    border-bottom: 2px solid coral;

    @media (max-width: $correctedTabletMediaWidth) {
      height: 50px;
    }
  }

  &__title {
    color: coral;
    font-weight: bolder;
    font-size: 2.25rem;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;

    @media (max-width: $tabletMediaWidth) {
      font-size: 1.6rem;
    }
  }

  &__close-btn {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    height: 100%;
    padding: 0 17.5px;
    background: none;
    border: none;
    border-left: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease-out;

    &:hover {
      border-left: 2px solid coral;
    }

    @media (max-width: $tabletMediaWidth) {
      padding: 0 15px;
    }

    &--img {
      width: 20px;
      height: 20px;

      @media (max-width: $tabletMediaWidth) {
        width: 18.5px;
        height: 18.5px;
      }
    }
  }

  &__bottom-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    padding: 20px 0;
    border-top: 2px solid black;

    .modal__submit-btn {
      width: 150px;
      padding: 4px 0 3.5px;
      color: coral;
      font-size: 1.6rem;
      font-family: "Teko", sans-serif;
      text-decoration: none;
      background: #f8f8f8;
      border: 2px solid coral;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        color: skyblue;
        background: black;
        border: 2px solid skyblue;
        box-shadow: 0 0 7.5px 5px skyblue;
      }

      @media (max-width: $tabletMediaWidth) {
        font-size: 1.4rem;
      }
    }
  }
}
